
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center fs-3 mt-2 text-danger">Yeni Kategori Ekleme Sayfası</h1>

<form class="form-group" method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="Ad" />
    <button class="btn btn-info mt-2">Ekle</button>
</form>

